/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
 /*------------- 
 common css 
 --------------*/
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 body{
    font-family: 'Montserrat', sans-serif;
    background-color: #e6e3e3;
 }
 .container{
     max-width: 1200px;  
     margin: 0 auto;
     padding: 15px;
     
 }
 .highlight{
     color: chocolate;
 }
 .highlight:hover{
     color: #3A3A3A;
 }
 h1, p{
     color: #3A3A3A;
 }
 .primary-button{
     padding: 15px 25px;
     margin: 15px 0;
     font-size: 20px;
     font-weight: 600;
     color: #3A3A3A;
     border-radius: 10px;
     border: 4px solid chocolate;
     transition:  .3s ease-in-out;
    
 }
 .primary-button:hover{
     background-color: 0;
     color: #ffffff;
     background-image: linear-gradient(60deg, rgb(199, 90, 13), chocolate);
 }
 /* responsive nav start */
    #nav-toggler{
       display: none;
   }
   .nav-toggler-icon{
       display: none;
       color: #fff;
       font-size: 30px;
   } 
 /* responsive nav end */
 /* Header part start  */
 nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .menu{
     display: flex;
     justify-content: space-between;
     align-items: flex-end;

 }
 .logo{
     font-size: 25px;
     color: #3A3A3A;
     font-weight: 700;
     transition: .3s;
 }
 .logo:hover{
     color: black;
 }
 .menu li{
     list-style: none;
     padding: 10px;
     margin: 10px;
     font-size: 18px;
     font-weight: 600;
 }
 .menu li a{
     text-decoration: none;
     color: #3A3A3A;
     text-transform: uppercase;
     border-radius: 5px;
     transition: 0.3s;
 }
 .menu li a:hover{
    color: chocolate;
     

 }
 /* Header part end */
 /* section 1 banner part start  */
  .banner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 25px;
  }
  .banner-left{
      width: 586px;
      
  }
  .banner-left h1{
      font-size: 50px;
      font-weight: 800;
      transition: .3s;
  }
  .banner-left h1:hover{
      color: chocolate;
  }
  
  .banner-right{
    width: 440px;
    height: 414px;
      border-radius: 50%;
      background-color: rgb(211, 209, 208);
     
  }
  .banner-right img{
     width: 100%;
      object-fit: cover;
  }

 /* section 1 banner part end */
 /* section 2 Popular collection css style start  */

 .section-title{
     text-align: center;
 }
 .section-title h1{
     font-size: 50px;
     margin-bottom: 70px;
     border-bottom: 4px solid chocolate;
     display: inline-block;
     margin: 50px 0;
 }
 .products{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     align-items: center;
     justify-content: center;
     grid-gap: 50px;
 }
 .product{
     width: 329px;
     height: 476px;
     padding: 15px;
     border-radius: 5px;
     background-color: #FFFFFF;
     box-shadow: 0 30px 40px rgba(0,0,0,.4);
 }
 
 .product-img img{
     width: 300px;
     height: 256px;  
 }
 .product-img{
     overflow: hidden;
 }
 .product-img:hover img{
 transform: scale(1.5);
 transition: transform 2s ease-in-out;
 }
 
 .product-details h2{
    margin: 15px 0 10px 0; 
    transition: .3s;
   
    }
    .product-details h2:hover{
        color: chocolate;
    }
    .product-details p{
        color: #000000;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px; 
    }
    .rating{
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }
    .small-letter{
        font-size: 16px;
        color: #787885;
        font-weight: 700;
        
    }
    .rating-icon{
        font-size: 16px;
        color: chocolate;
    }
    .link-button{
        display: flex;
        justify-content: flex-end;
        margin-top: 55px;
        text-decoration: none;
        font-size: 20px;
        color: chocolate;
        font-weight: 600;
        transition: .3s;
        margin-right: 40px;
    }
    .link-button i{
        margin-left: 5px;
    }
    .link-button:hover{
        color: #3A3A3A;
    }
 /* section 2 Popular collection css style end */
 /* section 3 contact part start */


.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}
.contact-image img{
    width: 100%;
    object-fit: cover;
 
}

.contact-details form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-field{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    font-family: inherit;
    outline: 0;
    border: 3px solid chocolate;
    border-radius: 5px;
}
 /* section 3 contact part end */
 /* footer part start  */
 footer{
     width: 100%;
     height: 240px;
     background-color: #0A0826;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center; 
     
 }
.footer-title{
    text-align: center;
    transition: 0.3s;
}
.footer-title:hover{
    color: chocolate;
}
 .copyright{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 10px;
     color: #D9DBE1;
 }
 .copyright-title{
     margin-bottom: 10px;
 }
 .social-icon{
     margin: 10px;
     height: 50px;
     width: 50px;
     background-color: rgb(250, 248, 246);
     padding: 10px;
     border-radius: 50%;
     font-size: 30px;
     transition: .3s;
 }
 .social-icon:hover{
     color: white;
     background-color: chocolate;
 }
 .fa-linkedin-in{
     background-color: #1DA1F2;
     
 }
 .fa-facebook-f{
     background-color: #0078FF;
     font-weight: 700;
     
 }
 .fa-twitter{
     color: #1DA1F2;
    
   
 }
 .fa-youtube{
     color: red;
     font-size: 27px;
    
 }

 /* footer part end */
 /* Mobile responsive media query start  */
@media only screen and (max-width: 688px){
     .container{
        width: 100%;  
        margin: 0 auto;
        
    }
   .menu li{
        display: none;
    } 
    .banner{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .banner-left{
        width: 288px;
        
    }
    .banner-right{
     width: 354px;
     background-color: #e6e3e3;
    }
   
  .contact, .products{
      grid-template-columns: repeat(1, 1fr);
  }
     footer{  
        flex-direction: column;  
    } 
    .social-icon{
        margin: 10px;
        height: 40px;
        width: 40px;
        background-color: rgb(250, 248, 246);
        padding: 8px;
        border-radius: 50%;
        font-size: 25px;
        transition: .3s;
    }
    .fa-linkedin-in{
        background-color: #1DA1F2;
        
    }
    .fa-facebook-f{
        background-color: #0078FF;
        font-weight: 700;
        
    }
}

 /* Mobile responsive media query end  */
 /* Teblet responsive media query start  */
 @media only screen and (min-width:688px) and (max-width: 992px){
     .container{
         width: 100%;
     }
  /* nav{
      justify-content: space-around;
  } */
   .products{
      grid-template-columns: repeat(2, 1fr);
  } 
  .banner-right{
    background-color: #e6e3e3;
  } 
.logo{
    color: chocolate;
}
  /* responsive menu  */
 
  .nav-toggler-icon{
    display: block;
}
.menu{
    position: absolute;
    top: 80px; 
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transform: translateY(-330px);
    transition: .5s ease-in-out;
}
h3{
    text-align: center;
}
.menu li a{
    color: #121212;
}
#nav-toggler:checked ~ .menu{
    transform: translateY(0px);
}

.responsive{
    display: none;
}

 } 
 /* Teblet responsive media query end  */






 